<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /api/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*)$ controller.php?request=$1 [QSA,NC,L]
</IfModule>